$bg-primary: #1e1d2b;
$bg-secondary: #2b2c3e;
$bg-tertiary: #404251;

$bg-purple: #9740ee;
$bg-blue: #5740ee;

$bg-gradient: linear-gradient(to right, $bg-blue, transparent) $bg-purple;

$text-primary: #ffffff;
$text-secondary: #06f2b0;

$family-primary: Verdana, Geneva, Tahoma, sans-serif;
