@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.card {
  @include flex-center;
  flex-direction: column;
  background-color: $bg-secondary;
  border-radius: 1rem;
  padding: 1.6rem;
  text-align: center;
  min-height: 20rem;
  overflow-x: hidden;
  cursor: pointer;

  img {
    background-color: $bg-tertiary;
    border-radius: 50%;
  }

  h2 {
    color: $text-secondary;
    margin: 0.5rem 0;
  }

  address {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
  }

  a {
    margin-top: auto;
  }
}
